.p-step-active .p-step-title {
    color: var(--main-color) !important;
}

.p-step-active .p-step-number  {
    background-color: #fff!important;
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;

}

.p-stepitem .p-steppanel-content {
    background-color: #fff !important;
}

.p-stepitem .p-stepper-separator {
    background-color: var(--main-color) !important;
}

.p-steppanel {
    background-color: #fff !important;
}

.p-button  {
    background-color: var(--main-color) !important;
    color: white !important;
    border: none !important;
}



.p-inputtext {
    background-color: #fff !important;
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}

.p-step-number {
    background-color: var(--bg-color) !important; 
    border-color:  #f6f6f6!important;
}



/* Media Query */


@media screen and (max-width:400px) {

    .p-stepitem:last-of-type .p-steppanel {
        padding-inline: 0px !important;
    }

    .p-inputotp {
        gap: 0px !important;
    }
    
}